.page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 90px;
    background-color: #385392;
    align-items: center;
}

nav .nav-logo {
    width: 130px;
    margin-left: 30px;
}

nav .nav-button {
    color: #f6b300;
    margin-right: 30px;
    margin-left: 60px;
}

nav .nav-button:hover {
    color: #f6b300;
    cursor: pointer;
}

main {
    background-color: #e7eaf0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

.collection {
    border: 1px solid #e1e1e1;
    border-bottom-left-radius: 2px;
    overflow: hidden;
    position: relative;
    width: 50vw;
}

.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    background-color: #ffffff;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #e1e1e1;
    list-style: none;
}

.collection-item svg {
    opacity: 0;
    height: 18px;
    transition: 0.25s all ease-in-out;
}

.collection-item:hover svg {
    opacity: 1;
}

.collection-item:hover svg:hover {
    cursor: pointer;
}

.icon-remove {
    fill: #d92121;
}

.modal-text-button-delete {
    color: #d92121;
}

.modal-text-button {
    color: #536475;
}

.modal-text-button-delete:hover,
.modal-text-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modal-content {
    padding-top: 18px;
    padding-bottom: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.search-bar {
    height: 27px;
    padding-left: 10px;
}

.search-bar input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 16px;
    box-shadow: none;
    border-radius: 2px;
    border: solid 1px #e1e1e1;
    transition: box-shadow 0.3s, border 0.3s;
}

.search-bar input[type="text"]:focus {
    outline: none;
    border: solid 1px #e1e1e1;
    box-shadow: 0 0 5px 1px #969696;
}